<% content_for :breadcrumb do %>
    <%= breadcrumb t("breadcrumb.home"), t("breadcrumb.ssh_setting") -%>
<% end %>
<h1>公钥</h1>
<p>标识: <%= h (@ssh.title) %></p>
<p>KEY: <%= h (@ssh.ssh_key) %></p>

<%= link_to "SSH KEY管理首页", account_public_keys_path %>