/** home page **/
.your_repos ul, .your_repos li{
    list-style: square;
    list-style-position: inside;
    line-height: 25px;
    padding: 5px;
}
.tree {
    line-height: 16px;
}
.odd {
    background-color: #f6f6f0;
}
.commits div {
    padding: 10px 0;
}
.blob {
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
}
.blob pre {
    margin: 0;
    padding: 0;
    line-height: 14px;
}
.blob pre.line_number {
    background-color: #ECECEC;
    border-right: 1px solid #DDD;
    color: #AAA;
    padding: 1em 0.5em;
    text-align: right;
    margin-right: 10px;
}
